@using TrabajoPractico1._1
@model List<Carteleras>
@{
	ViewBag.Title = "carteleras";
}
<h2>Listado de carteleras</h2>
@{
	if (ViewBag.mensajeBorrar != null)
	{
		<p class="mensaje-notificacion">@ViewBag.mensajeBorrar</p>
	}
}
<a href="~/administrativo/crearCartelera" class="btn btn-info">Agregar nueva cartelera</a>
<table class="table table-hover listado-cartelera">
	<thead>
		<tr>
			<td class="col-sm-1">Sede</td>
			<td class="col-sm-1">Pelicula</td>
			<td class="col-sm-1">Hora de Inicio</td>
			<td class="col-sm-1">Fecha de Inicio</td>
			<td class="col-sm-1">Fecha de Fin</td>
			<td class="col-sm-1">Sala</td>
			<td class="col-sm-1">Version</td>
			<td class="col-sm-1">Dias</td>
			<td class="col-sm-1">Fecha de carga</td>
			<td class="col-sm-1"></td>
			<td class="col-sm-1"></td>
		</tr>
	</thead>
	@foreach (Carteleras c in Model)
	{
		<tr>
			<td class="col-sm-1">@c.Sedes.Nombre</td>
			<td class="col-sm-1">@c.Peliculas.Nombre</td>
			<td class="col-sm-1">@c.HoraInicio</td>
			<td class="col-sm-1">@c.FechaInicio.ToShortDateString()</td>
			<td class="col-sm-1">@c.FechaFin.ToShortDateString()</td>
			<td class="col-sm-1">@c.NumeroSala</td>
			<td class="col-sm-1">@c.FechaInicio.ToShortDateString()</td>
			<td class="col-sm-1">
				@if (c.Lunes != false) { <span>Lu </span> }
				@if (c.Martes != false) { <span>Ma </span> }
				@if (c.Miercoles != false) { <span>Mi </span> }
				@if (c.Jueves != false) { <span>Ju </span> }
				@if (c.Viernes != false) { <span>Vi </span> }
				@if (c.Sabado != false) { <span>Sa </span> }
				@if (c.Domingo != false) { <span>Do </span>}
			</td>
			<td class="col-sm-1">@c.FechaCarga.ToShortDateString()</td>
			<td class="col-sm-1"><a href="~/administrativo/modificarCartelera/@c.IdCartelera" class="btn btn-info">Modificar</a></td>
			<td class="col-sm-1"><a href="~/administrativo/eliminarCartelera/@c.IdCartelera" class="btn btn-info">Eliminar</a></td>
		</tr>
					}
</table>