@using TrabajoPractico1._1
@model Carteleras
@{
	ViewBag.Title = "crearCartelera";
}

<h2>Crear nueva Cartelera: </h2>
@{
	if (ViewBag.ingresoCorrecto != null)
	{
		<p class="error-message"></p>
	}
}

<form action="~/administrativo/cargarCartelera" method="POST" class="crear-cartelera-form">
	<label>
		@Html.DropDownListFor(x => x.IdSede, new SelectList(ViewBag.sedes, "IdSede", "Nombre"), "Sedes")
		@Html.ValidationMessage("IdSede")
	</label>

	<label>
		@Html.DropDownListFor(x => x.IdPelicula, new SelectList(ViewBag.peliculas, "IdPelicula", "Nombre"), "Películas")
		@Html.ValidationMessage("IdPelicula")
	</label>

	<label>
		<select name="HoraInicio" id="HoraInicio">
			<option>Horario de Inicio</option>
			@{
				int value = 0;
				foreach (string i in ViewBag.horas)
				{
					<option value="@value">@i</option>
					value++;
				};
			}
		</select>
		@Html.ValidationMessage("HoraInicio")
	</label>

	<label>
		@Html.TextBox("FechaInicio", "", new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Fecha de Inicio" })
		@Html.ValidationMessage("FechaInicio")
	</label>

	<label>
		@Html.TextBox("FechaFin", "", new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Fecha de Fin" })
		@Html.ValidationMessage("FechaFin")
	</label>

	<label>
		@Html.TextBox("NumeroSala", "", new { htmlAttributes = new { @class = "input-text" }, @placeholder = "Número de sala" })
		@Html.ValidationMessage("NumeroSala")
	</label>

	<label>
		@Html.DropDownListFor(x => x.IdVersion, new SelectList(ViewBag.versiones, "IdVersion", "Nombre"), "Versiones")
		@Html.ValidationMessage("IdVersiones")
	</label>

	<label>
		<span class="input-checkbox">
			<strong>Lunes</strong>
			<input type="checkbox" value="Lunes" name="Lunes" />
		</span>

		<span class="input-checkbox">
			<strong>Martes</strong>
			<input type="checkbox" value="Martes" name="Martes" />
		</span>

		<span class="input-checkbox">
			<strong>Miércoles</strong>
			<input type="checkbox" value="Miercoles" name="Miercoles" />
		</span>

		<span class="input-checkbox">
			<strong>Jueves</strong>
			<input type="checkbox" value="Jueves" name="Jueves" />
		</span>

		<span class="input-checkbox">
			<strong>Viernes</strong>
			<input type="checkbox" value="Viernes" name="Viernes" />
		</span>

		<span class="input-checkbox">
			<strong>Sábado</strong>
			<input type="checkbox" value="Sabado" name="Sabado" />
		</span>

		<span class="input-checkbox">
			<strong>Domingo</strong>
			<input type="checkbox" value="Domingo" name="Domingo" />
		</span>
	</label>

	<button type="submit" class="btn-crear-cartelera btn btn-info btn-lg">Crear Cartelera</button>
</form>
