@using TrabajoPractico1._1
@model Carteleras
@{
	ViewBag.Title = "crearCartelera";
}

@{
	if (ViewBag.ingresoCorrecto != null)
	{
		<p class="error-message">@ViewBag.ingresoCorrecto</p>
	}
}

<form action="~/administrativo/cargarCartelera" method="POST" class="col-md-offset-3 panel-body panel panel-info col-md-6 crear-cartelera-form">
	<div class="form-group panel-primary text-center">
		<div class="text-center panel-heading">
			@{ if (Model != null)
			{ <h5>Modificar Cartelera</h5> }
			else
			{ <h5>Nueva Cartelera</h5> }
			}
		</div>
	</div>
	<label class="form-control">
		@Html.DropDownListFor(x => x.IdSede, new SelectList(ViewBag.sedes, "IdSede", "Nombre"), "Sedes")
		@Html.ValidationMessage("IdSede")
	</label>
	<label class="form-control">
		@Html.DropDownListFor(x => x.IdPelicula, new SelectList(ViewBag.peliculas, "IdPelicula", "Nombre"), "Películas")
		@Html.ValidationMessage("IdPelicula")
	</label>
	<label class="form-control">
		@Html.TextBoxFor(x => x.HoraInicio, new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Hora de Inicio" })
		@Html.ValidationMessage("HoraInicio")
	</label>
	<label class="form-control">
		@Html.TextBoxFor(x => x.FechaInicio, new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Fecha de Inicio" })
		@Html.ValidationMessage("FechaInicio")
	</label>
	<label class="form-control">
		@Html.TextBoxFor(x => x.FechaFin, new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Fecha de Fin" })
		@Html.ValidationMessage("FechaFin")
	</label>
	<label class="form-control">
		@Html.TextBoxFor(x => x.NumeroSala, new { htmlAttributes = new { @class = "input-text" }, @placeholder = "Número de sala" })
		@Html.ValidationMessage("NumeroSala")
	</label>
	<label class="form-control">
		@Html.DropDownListFor(x => x.IdVersion, new SelectList(ViewBag.versiones, "IdVersion", "Nombre"), "Versiones")
		@Html.ValidationMessage("IdVersiones")
	</label>
	<label>
		<span class="input-checkbox">
			<strong>Lunes</strong>
			@Html.CheckBoxFor(x => x.Lunes)
		</span>
		<span class="input-checkbox">
			<strong>Martes</strong>
			@Html.CheckBoxFor(x => x.Martes)
		</span>
		<span class="input-checkbox">
			<strong>Miércoles</strong>
			@Html.CheckBoxFor(x => x.Miercoles)
		</span>
		<span class="input-checkbox">
			<strong>Jueves</strong>
			@Html.CheckBoxFor(x => x.Jueves)
		</span>
		<span class="input-checkbox">
			<strong>Viernes</strong>
			@Html.CheckBoxFor(x => x.Viernes)
		</span>
		<span class="input-checkbox">
			<strong>Sábado</strong>
			@Html.CheckBoxFor(x => x.Sabado)
		</span>
		<span class="input-checkbox">
			<strong>Domingo</strong>
			@Html.CheckBoxFor(x => x.Domingo)
		</span>
	</label>
	<button type="submit" class="btn-crear-cartelera btn btn-info">
		@{ if (Model != null)
			{ <span>Guardar Cartelera</span> }
			else
			{ <span>Crear Cartelera</span> }
		}
	</button>
	<a href="~/administrativo/carteleras" class="btn-cancelar-cartelera btn btn-info">Cancelar</a>
</form>
