@using DAL
@model Carteleras
@{
	ViewBag.Title = "crearCartelera";
}

@{
	if (ViewBag.ingresoCorrecto != null)
	{
		<p class="error-message">@ViewBag.ingresoCorrecto</p>
	}
}

<form action="~/administrativo/cargarCartelera" method="POST" class="col-md-offset-3 panel-body panel panel-info col-md-7 crear-cartelera-form">
	<div class="form-group panel-primary text-center">
		<div class="text-center panel-heading">
			@{ 
                if (Model != null)
			    { 
                    <h5>Modificar Cartelera</h5> 
                    @Html.HiddenFor(x => x.IdCartelera, Model.IdPelicula)
                }
                else
                { 
                    <h5>Nueva Cartelera</h5> 
                }
			}
		</div>
	</div>
    <div class="form-group">
        <div class="form-control">
            @Html.DropDownListFor(x => x.IdSede, new SelectList(ViewBag.sedes, "IdSede", "Nombre"), "Sedes")
        </div>
        @Html.ValidationMessage("IdSede")
    </div>
    <div class="form-group">
        <div class="form-control">
            @Html.DropDownListFor(x => x.IdPelicula, new SelectList(ViewBag.peliculas, "IdPelicula", "Nombre"), "Películas")
        </div>
        @Html.ValidationMessage("IdPelicula")
    </div>
    <div class="form-group">
        <div class="form-control">
            @Html.TextBoxFor(x => x.HoraInicio, new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Hora de Inicio" })
        </div>
        @Html.ValidationMessage("HoraInicio")
    </div>
    <div class="form-group">
        <div class="form-control">
            @Html.TextBoxFor(x => x.FechaInicio, new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Fecha de Inicio" })
        </div>
        @Html.ValidationMessage("FechaInicio")
    </div>
    <div class="form-group">
        <div class="form-control">
            @Html.TextBoxFor(x => x.FechaFin, new { htmlAttributes = new { @class = "input-date" }, @placeholder = "Fecha de Fin" })
        </div>
        @Html.ValidationMessage("FechaFin")
    </div>
    <div class="form-group">
        <div class="form-control">
            @Html.TextBoxFor(x => x.NumeroSala, new { htmlAttributes = new { @class = "input-text" }, @placeholder = "Número de sala" })
        </div>
        @Html.ValidationMessage("NumeroSala")
    </div>
    <div class="form-group">
        <div class="form-control">
            @Html.DropDownListFor(x => x.IdVersion, new SelectList(ViewBag.versiones, "IdVersion", "Nombre"), "Versiones")
        </div>
        @Html.ValidationMessage("IdVersiones")
    </div>
	<label class="text-right">
        <span class="col-lg-3 input-checkbox">
            <strong>Lunes</strong>
            @Html.CheckBoxFor(x => x.Lunes)
        </span>
        <span class="col-lg-3 input-checkbox">
            <strong>Martes</strong>
            @Html.CheckBoxFor(x => x.Martes)
        </span>
        <span class="col-lg-3 input-checkbox">
            <strong>Miércoles</strong>
            @Html.CheckBoxFor(x => x.Miercoles)
        </span>
        <span class="col-lg-3 input-checkbox">
            <strong>Jueves</strong>
            @Html.CheckBoxFor(x => x.Jueves)
        </span>
        <span class="col-lg-3 input-checkbox">
            <strong>Viernes</strong>
            @Html.CheckBoxFor(x => x.Viernes)
        </span>
        <span class="col-lg-3 input-checkbox">
            <strong>Sábado</strong>
            @Html.CheckBoxFor(x => x.Sabado)
        </span>
        <span class="col-lg-3 input-checkbox">
            <strong>Domingo</strong>
            @Html.CheckBoxFor(x => x.Domingo)
        </span>
    </label>
	<button type="submit" class="btn-crear-cartelera btn btn-info">
		@{ if (Model != null)
			{ <span>Guardar Cartelera</span> }
			else
			{ <span>Crear Cartelera</span> }
		}
	</button>
	<a href="~/administrativo/carteleras" class="btn-cancelar-cartelera btn btn-info">Cancelar</a>
</form>
