@using TrabajoPractico1._1
@model Peliculas
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Peliculas";
}


<h2>Gestion de Peliculas</h2>

<div class="col-sm-4"></div>
<div class="col-sm-4">
	<a href="~/Administrativo/CrearNuevaPelicula" class="btn btn-danger">Nueva Pelicula</a>
</div><br /><br /><br /><br /><br /><br />

@if (ViewBag.Nuevo == true)
{//Entra si se quiere cargar una nueva Pelicula
	<h4>Nueva Pelicula</h4>

	using (Html.BeginForm("NuevaPelicula", "Administrativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<label>
			@Html.TextBox("Nombre", "", new { htmlAttributes = new { @class = "class" }, @placeholder = "Nombre" })
			@Html.ValidationMessage("Nombre")
		</label>
				<label>
					@Html.TextBox("Descripcion", "", new { htmlAttributes = new { @class = "class" }, @placeholder = "Descripcion" })
					@Html.ValidationMessage("Descripcion")
				</label>
				<label>
					@Html.DropDownListFor(x => x.IdCalificacion, new SelectList(ViewBag.CalificacionId, "idCalificacion", "Nombre"), "--Seleccione Clasificacion--")
					@Html.ValidationMessage("IdCalificacion")
				</label>
				<label>
					@Html.DropDownListFor(x => x.IdGenero, new SelectList(ViewBag.GeneroId, "idGenero", "Nombre"), "--Seleccione Genero--")
					@Html.ValidationMessage("IdGenero")
				</label>
				<label>
					@Html.TextBoxFor(m => m.Imagen, new { type = "file" })
					@Html.ValidationMessage("Imagen")
				</label>
				<label>
					@Html.TextBox("Duracion", "", new { htmlAttributes = new { @class = "class" }, @placeholder = "Duracion" })
					@Html.ValidationMessage("Duracion")
				</label>

				<button type="submit" class="btn btn-info">Guardar Pelicula</button>
				<a href="~/Administrativo/Peliculas" class="btn btn-info">Cancelar</a>
	}
}

else if (Model != null)
{
	//entra si se quiere modificar una Pelicula
	<h4>Modificar Pelicula</h4>
	using (Html.BeginForm("ModificarPelicula", "Administrativo", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.Hidden("IdPelicula", Model.IdPelicula)

		<label>
			@Html.TextBox("Nombre", Model.Nombre, new { htmlAttributes = new { @class = "input-text" }, @placeholder = "Nombre" })
			@Html.ValidationMessage("Nombre")
		</label>

		<label>
			@Html.TextBox("Descripcion", Model.Descripcion, new { htmlAttributes = new { @class = "input-text" }, @placeholder = "Descripcion" })
			@Html.ValidationMessage("Descripcion")
		</label>

		<label>
			@Html.DropDownListFor(x => x.IdCalificacion, new SelectList(ViewBag.CalificacionId, "idCalificacion", "Nombre"), "--Seleccione Clasificacion--")
			@Html.ValidationMessage("IdCalificacion")
		</label>

		<label>
			@Html.DropDownListFor(x => x.IdGenero, new SelectList(ViewBag.GeneroId, "idGenero", "Nombre"), "--Seleccione Genero--")
			@Html.ValidationMessage("IdGenero")
		</label>

		<label>
			@{
				if (!string.IsNullOrEmpty(Model.Imagen))
				{ <img src="@Model.Imagen" height="100" class="img-responsive" alt="@Model.Nombre" /> }
			}
			@Html.TextBox("myImagen", "", new { type = "file" })
		</label>

		<label>
			@Html.TextBox("Duracion", Model.Duracion, new { htmlAttributes = new { @class = "input-text" }, @placeholder = "Duracion" })
			@Html.ValidationMessage("Duracion")
		</label>

		<button type="submit" class="btn btn-info">Modificar Pelicula</button>
		<a href="~/Administrativo/Peliculas" class="btn btn-info">Cancelar</a>
	}
}

<table class="listado-peliculas table table-hover">
	<thead>
		<tr>
			<td class="col-sm-1">Nombre</td>
			<td class="col-sm-1">Duracion</td>
			<td class="col-sm-1">Genero</td>
			<td class="col-sm-1">Calificacion</td>
			<td class="col-sm-2">Imagen</td>
			<td class="col-sm-1">Acciones</td>
		</tr>
	</thead>
	@foreach (var pelicula in ViewBag.Listado as IEnumerable<Peliculas>)
	{
		<tr>
			<td class="col-sm-1">@pelicula.Nombre </td>
			<td class="col-sm-1">@pelicula.Duracion</td>
			<td class="col-sm-1">@pelicula.Generos.Nombre</td>
			<td class="col-sm-1">@pelicula.Calificaciones.Nombre</td>
			<td class="col-sm-2"> <a href="@pelicula.Imagen" target="_blank"><img class="pelicula" src="@pelicula.Imagen" /></a></td>
			<td class="col-sm-1"><a href="~/Administrativo/ModificarPeliculaSeleccionada/@pelicula.IdPelicula" class="btn btn-info">Modificar</a></td>
		</tr>
	}

</table>